/* Pa las secciones */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}


h1{
    color: #ffffff;
    text-align: center;
    line-height: 1.4;
}

h3, p {
    color: #000000;
    text-align: center;
    line-height: 1.4;
}

h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
}


/* BASIC SETUP */

.page-wrapper {
    width: 100%;
    height: 20%;
}

.nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99;
}

.grad-bar {
    width: 100%;
    position: fixed;
    height: 5px;
    background: linear-gradient(-45deg, #02e7e1, #017ca5, #01c4db, #00a6d5);
    /* position: absolute;
    z-index: 100; */
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
        -moz-animation: gradbar 15s ease infinite;
        animation: gradbar 15s ease infinite;
    z-index: 100;
}
/* NAVIGATION */

.navbar {
    display: grid;
    grid-template-columns: 3fr 3fr;
    position: fixed;

    align-items: center;
    height: 66px;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.navbar img {
    height: 38px;
    justify-self: start;
    margin-left: 20px;
}

img#lupaImagen {
    height: 20px;
    margin-right: 5px;
    justify-self: start;
    margin-left: 25px;
}

.navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-self: end;
}

.nav-item {
    display: flex; /* Habilita Flexbox en los elementos con la clase "nav-item" */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
}

.fas.fa-search {
    display: flex; /* Habilita Flexbox en los elementos con la clase "nav-item" */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
}

.nav-item a {
    color: #333333;
    font-size: 0.91rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-out;
    padding: 0px 10px;
}


li .nav-item{
    align-items: center;
    justify-content: center;
}

.nav-item a:hover {
    color: #00c4db;
}

.nav-item.iniciar a{
    padding: 7px 10px;
    background: #00c4db;
    border: 1px #4f8e96 solid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav-item.iniciar a:hover{
    color: white;
}
.nav-item.crear a{
    padding: 7px 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Solucionar el problema de la lista desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;
    left: 0;
    top: 100%; /* Ajustar la posición superior */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para los elementos de la lista */
.dropdown-option {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

#suggestions {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    top: 100%; /* Coloca la lista debajo de la barra de búsqueda */
}
.nav-item input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    width: 200px;
}

li.dropdown-option:hover{
    color: #00c4db;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
}

.menu-toggle:hover{
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}
.dropdown-option:hover{
    color: #00c4db;
}

/* INICIO footer */
.footer{
    background:#13213d;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align: left;
}
    
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.3% 0%;
    color: white;
    font-size:1em;
}

.footer .row a{
    text-decoration:none;
    color: white;
    transition:0.5s;
}
.row.reser{
    color: #02ab9f;
}
.footer .row a:hover{
    color:#02ab9f;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    margin:0px 20px;
    padding: 0px 0px;
}

.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}
div .row.iconos{
    margin-left: 10px;
}

/* FIN DE FOOTER */

/*las 2 secciones*/

.welcome-section {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.left-section {
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.left-section {
    position: relative;
}

.left-section p {
    font-size: 50px;
    margin-bottom: 2px;
    color: #fff;
    text-align: left; /* Centra el texto dentro del contenedor */

}
.left-section p1 {
    font-size: 20px;
    text-align: left; /* Centra el texto dentro del contenedor */

}

.text-overlay {
    position: absolute;
    top: 55%;/* Centra verticalmente el texto */
    left: 40%; /* Centra horizontalmente el texto */
    transform: translate(-50%, -50%); /* Centra exactamente el texto */
    text-align: left; /* Centra el texto dentro del contenedor */
    color: #fff; /* Color del texto */
}

.center-text {
    text-align: center;
}
.left-section img {
    width: 100%; /* La imagen ocupa el 100% del ancho de su contenedor */
    height: 100%; /* La imagen ocupa el 100% de la altura de su contenedor */
    object-fit: cover; /* Ajusta la imagen manteniendo su relación de aspecto y cubriendo el contenedor */
    display: block; /* Elimina el espacio adicional por debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente dentro de su contenedor */
}

.right-section {
    flex: 40%;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.inic{
    font-size: 30px;
    margin-bottom: 10px;
    color:#555555;
    font-weight: bold;
}

.right-section a {
    display: block;
    margin-bottom: 10px;
    color: #0066cc;
    text-align: left;
}
.right-section label {
    margin-left: 15%;
    display: block;
    margin-bottom: 1%;
    text-align: left;
    color:#555555;
}

.right-section input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    color:#555555;
}

.blue-button {
    background-color:#01c4da;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.blue-button1 {
    background-color:#0117da;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.red-button {
    background-color: #cc0000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.button-group {
    display: flex;
    
}
.right-section button.blue-button,
.right-section button.red-button {
    display: block;
    margin: 0 auto;
}
.right-section input {
    width: 70%; /* Asegura que los elementos ocupen todo el ancho disponible */
}
.right-section button {
    width: 20%; /* Asegura que los elementos ocupen todo el ancho disponible */
}
.right-section .button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

.right-section .button-group button {
    margin: 0 5px; /* Ajusta el espacio entre los botones según sea necesario */
}

.right-section a.forgot-password,
.right-section a.create-account {
    display: block;
    margin-bottom: 10px;
    color: #0066cc;
    text-align: center;
}






@media only screen and (max-width: 900px) { 


    /* MOBILE HEADINGS */
    h1 {
        margin-left: 0px;
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1rem;
    }
    p {
        font-size: 0.8rem;
    }

    /* MOBILE NAVIGATION */
        
    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 55px;
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
    }

    .navbar li {
        padding: 15px;
    }

    .navbar li:first-child {
        margin-top: 50px;
    }

    .navbar li a {
        font-size: 1rem;
    }
        
    .menu-toggle, .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
        transform: translate(0%)!important;
    }

    #suggestions {
        width: calc(100% - 55px); /* Resta el espacio del ícono y el margen */
        /* top: 100%; */
        top: 50%;
        left: 50%;
        transform: translate(-1%, -11%);
        /* margin-left: 35%; */
        max-width: none; /* Restablece el ancho máximo */
        max-height: 50vh; /* Limita la altura en dispositivos móviles */
        overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
    }

    
    #suggestions .dropdown-option {
        padding: 10px 20px; /* Espaciado adecuado para dispositivos móviles */
    }

}



/* footer */
@media (max-width:720px){
    .footer{
        text-align:left;
        padding:5%;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
    }
    .footer .row a i{
        margin:0% 3%;
    }
    div .row.iconos{
        margin-left: 0px;
    }
}





